<div class="welcome-section">
  <img id="photo-welcome" [src]="imageUrl" alt="Photo de profil de welcome">

  <div class="welcome-content">
    @if (currentUser){
      <h1>Bienvenue sur votre espace <span> {{currentUser.prenom}} {{currentUser.nom}}</span></h1>
      <p>Vous être {{currentUser.roles | roleFormatter}}</p>
    }

  </div>
</div>


    <div class="statistiques">
      <app-statistiques section_name="Nombre Elèves" icon="fa-solid fa-child-reaching" [statistique_number]="stat.eleves"></app-statistiques>
      <app-statistiques section_name="Nombre Enseignants" icon="fa-solid fa-solid fa-chalkboard-user" [statistique_number]="stat.professeurs"></app-statistiques>
      <app-statistiques section_name="Nombre d'UES" icon="fa-solid  fas fa-graduation-cap" [statistique_number]="stat.ues"></app-statistiques>


    </div>

    <div class="dashboard">
      <div class="dashboard-select" >
        <h4 (click)="putUserAsCategorie()" class="center-dashboard-content" [style]="{'color': this.categorieUser ? 'white' : 'black'}">
          Utilisateurs</h4>
        <h4 (click)="putUEAsCategorie()" class="center-dashboard-content" [style]="{'color': !this.categorieUser ? 'white' : 'black'}"> Unités d'enseignements</h4>
        <span class="categorie-selected" [style]="{'transform': this.categorieUser ? 'translateX(0)' : 'translateX(100%)'}"></span>
      </div>

      <!-- PENSEZ A FAIRE RESPOSNSIVITE DE CETTE ¨PARTIE -->
      <div style="width: 100%">
        <div class="dashboard-filter">
          <div class="search-section">
            <i class="loop fa-solid fa-magnifying-glass"></i>
            <label>
              <input id="text-filter" type="text" (input)="onFilterChange()"  [(ngModel)]="filterText" class="stylized-input" placeholder="Rechercher...">
            </label>
          </div>
        </div>


        <div id="add-section" class="add-section" >
          <div (click)="openAddModalPopup()" class="add-button button">
            <i class="fa-solid fa-plus"></i>
            <p>Ajouter</p>
          </div>
        </div>

        @if(categorieUser){
          @for(user of filteredUsers; track user.id_utilisateur ){
            <app-utilisateurs (deleteUtilisateur)="openDeleteUserModal($event)" (editUtilisateur)="openEditUserModalPopup($event)" [utilisateur]="user"></app-utilisateurs>

          }
      } @else{
          @for(ue of filteredUes; track ue.code){
            <app-ue (openDeletePopup)="openDeleteUeModal($event)" (openEditPopup)="openEditUesModalPopup($event)" [ue]="ue"></app-ue>

          }
      }
      </div>

    </div>
    @if(popupState.target){
      <div id="overlay" >
      @switch (popupState.target){
        @case ('add-user') {
          <app-add-edit-user
            (shouldUpdate) = "initializeUsersAndUE()"
            (closePopupSignal)="closeAllPopup() ">

          </app-add-edit-user>
        }

        @case ('add-ue') {
          <app-add-edit-ue
            (haveToEdit)="initializeUsersAndUE()"
            (closePopupSignal)="closeAllPopup()">
          </app-add-edit-ue>
        }

        @case ('delete-user') {
          <app-delete-ue-user
            mode="user"
            (shouldUpdate)="initializeUsersAndUE()"
            [user]="UtilisateurEdit"
            (closePopupSignal)="closeAllPopup()">
          </app-delete-ue-user>
        }

        @case ('delete-ue') {
          <app-delete-ue-user
            mode="ue"
            [ue]="UeEdit"
            (shouldUpdate)="initializeUsersAndUE()"
            (closePopupSignal)="closeAllPopup()">

          </app-delete-ue-user>
        }

        @case ('edit-user') {

          <app-add-edit-user
            (shouldUpdate) = "initializeUsersAndUE()"
            [user]="UtilisateurEdit"
            (closePopupSignal)="closeAllPopup()"
            [isEdit]="true">
          </app-add-edit-user>
        }

        @case ('edit-ue') {
          <app-add-edit-ue
            [ue]="UeEdit"
            [isEdit]="true"
            (haveToEdit)="initializeUsersAndUE()"
            (closePopupSignal)="closeAllPopup()">
          </app-add-edit-ue>
        }
      }

      </div>
    }








