<div class="welcome-section">
  <img id="photo-welcome" [src]="imageUrl" alt="Photo de profil de welcome">

  <div class="welcome-content">
    <h1>Bienvenue sur votre espace <span>Elmir</span></h1>
    <p>Vous être administrateur</p>
  </div>
</div>


    <div class="statistiques">
      <app-statistiques section_name="Nombre Elèves" icon="fa-solid fa-child-reaching" statistique_number="14"></app-statistiques>
      <app-statistiques section_name="Nombre Enseignants" icon="fa-solid fa-solid fa-chalkboard-user" statistique_number="15"></app-statistiques>
      <app-statistiques section_name="Nombre d'UES" icon="fa-solid  fas fa-graduation-cap" statistique_number="8"></app-statistiques>


    </div>

    <div class="dashboard">
      <div class="dashboard-select" >
        <h4 (click)="putUserAsCategorie()" class="center-dashboard-content" [style]="{'color': this.categorieUser ? 'white' : 'black'}">
          Utilisateurs</h4>
        <h4 (click)="putUEAsCategorie()" class="center-dashboard-content" [style]="{'color': !this.categorieUser ? 'white' : 'black'}"> Unités d'enseignements</h4>
        <span class="categorie-selected" [style]="{'transform': this.categorieUser ? 'translateX(0)' : 'translateX(100%)'}"></span>
      </div>

      <!-- PENSEZ A FAIRE RESPOSNSIVITE DE CETTE ¨PARTIE -->
      <div style="width: 100%">
        <div class="dashboard-filter">
          <div class="search-section">
            <i class="loop fa-solid fa-magnifying-glass"></i>
            <label>
              <input id="text-filter" type="text" (input)="onFilterChange()"  [(ngModel)]="filterText" class="stylized-input" placeholder="Rechercher...">
            </label>
          </div>
        </div>


        <div id="add-section" class="add-section" >
          <div (click)="openAddModalPopup()" class="add-button button">
            <i class="fa-solid fa-plus"></i>
            <p>Ajouter</p>
          </div>
        </div>

        @if(categorieUser){
          @for(user of filteredUsers; track user.id_utilisateur ){
            <app-utilisateurs [utilisateur]="user"></app-utilisateurs>

          }
      } @else{
          @for(ue of filteredUes; track ue.code){
            <app-ue [ue]="ue"></app-ue>

          }
      }
      </div>

    </div>
    @if(showAddPopup){
      <div id="overlay" >
      @if(categorieUser){
        <app-add-edit-user (closePopupSignal)="closeAddModalPopup()"></app-add-edit-user>
      } @else {
        <app-add-edit-ue (closePopupSignal)="closeAddModalPopup()"></app-add-edit-ue>
      }
      </div>
    }



    <!--<app-delete-ue-user mode = "ue"></app-delete-ue-user> -->





