<div class="modal-backdrop" (click)="onCancel()"></div>

<div class="modal-content" (click)="$event.stopPropagation()">
  <h2>Ajouter une publication à {{ section.nom }}</h2>


  <div class="boutonsSwitch">
    <div
      class="switch-background"
      [ngStyle]="{ left: isTextSelected ? '0%' : '50%' }"
    ></div>

    <div
      class="text"
      [style.color]="isTextSelected ? 'white' : 'black'"
      (click)="selectText()"
    >
      Texte
    </div>

    <div
      class="file"
      [style.color]="!isTextSelected ? 'white' : 'black'"
      (click)="selectFile()"
    >
      Fichier
    </div>
  </div>


  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="titre">Titre</label>
    <input type="text" id="titre" formControlName="titre" name="titre" required />



    @if (typePublicationId != 2) {
      <label for="contenu">Contenu</label>
      <textarea id="contenu" formControlName="contenu" name="contenuTexte"></textarea>

    <label for="type">Type</label>
    <select id="type" formControlName="importance" name="type">
      <option value="faible">Faible</option>
      <option value="moyen">Moyenne</option>
      <option value="important">Importance</option>
    </select>
    }

    @if (typePublicationId == 2) {
      <label for="fichier">Fichier</label>
      <app-drop-zone (fileSelected)="onFileSelected($event)"></app-drop-zone>
    }

    <div class="checkbox-wrapper">
      <input type="checkbox" id="visible" formControlName="visible" name="visible" />
      <label for="visible">Visible</label>
    </div>
    <div class="modal-actions">
      <button type="submit">Créer</button>
      <button type="button" (click)="onCancel()">Annuler</button>
    </div>
  </form>
</div>
