<div class="post" [ngClass]="getClass" [attr.data-id]="publication._id">
  <div class="top_post">
    <h5 class="title_post">{{ publication.nom }}</h5>
    <span class="date_post">{{ publication.date_publication | date: 'dd/MM/yyyy HH:mm' }}</span>

    @if (authService.isProfesseur()) {
      <div class="interactions_post">
        <button class="edit_post" (click)="openEditModal()">
          <i class="icon fa-solid fa-pen"></i>
        </button>
        <button class="delete_post" (click)="openDeleteModal()">
          <i class="icon fa-solid fa-trash"></i>
        </button>
      </div>
    }
  </div>

  @if (publication.type === 'fichier') {
    <div class="download" (click)="openFile()">
      <i class="icon fa-solid" [ngClass]="publication.metadata?.extension === 'pdf' ? 'fa-file-pdf' : 'fa-file-zipper' " ></i>
      <span class="nom_fichier">{{ publication.metadata?.nom_original }}</span>
      <i class="icon fa-solid" [ngClass]="publication.metadata?.extension === 'pdf' ? 'fa-eye' : 'fa-download'"></i>
    </div>
  } @else {
    <p class="text_post">{{ publication.contenu }}</p>
  }
</div>


