/*Style de la partie liste des publications */

div.liste_posts, div.publications-epingles {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.consultation_eleve{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: auto;
  gap: 5px;
  font-weight: 400;
  font-size: 1em;
  padding: 8px 15px;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 30px 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 30px 5px rgba(0,0,0,0.1);

}


div.post {
  background-color: #fff;
  -webkit-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 2em;
  padding: 2em;
  transition: 0.2s ease;

}

div.post:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

div.post > div.top_post {
  display: flex;
  align-items: center;
}

div.post > div.top_post > h5.title_post {
  font-size: 22px;
  margin-right: 0.5em;
  color: #333;
}

div.post > div.top_post > span.date_post {
  font-size: 12px;
}

div.post > div.top_post > div.interactions_post {
  margin-left: auto;
}

div.post > div.top_post > div.interactions_post > button {
  background-color: transparent;
  border: 0;
  margin-left: 1em;
  font-size: 18px;
  color: #999;

}

div.post > p.text_post {
  font-size: 18px;
  font-weight: 300;
  margin-top: 1em;
}

.calendar {
  background-color: #CFFFD9 !important;
}

.info {
  background-color: #FEFFCF !important;
}

.warning {
  background-color: #FFCFCF !important;
}

div.post.file > div.download{
  background-color: #F4F4F4;
  -webkit-box-shadow: 0 0 30px 5px rgba(0,0,0,0.1);
  box-shadow: 0 0 30px 5px rgba(0,0,0,0.1);
  display: flex;
  width: 50%;
  height: 80px;
  border-radius: 8px;
  align-items: center;
  padding: 2em;
}

div.post.file > div.download{
  background-color: #F4F4F4;
  display: flex;
  width: 50%;
  height: 80px;
  border-radius: 8px;
  align-items: center;
  padding: 2em;
  margin-top: 1em;
}

div.post.file> div.download:hover {
  cursor: pointer;
}

div.post.file > div.download > i.fa-file-pdf {
  color: red;
  font-size: 25px;
  margin-right: 1em;
}

.fa-file-zipper{
  color: red;
  font-size: 25px;
  margin-right: 1em;
}

div.post.file > div.download > i.fa-download {
  margin-left: auto;
}

div.post.file > div.download > i.fa-eye {
  margin-left: auto;
}

.icon:hover {
  cursor: pointer;
  opacity: 0.7;

}
