@import '../../../shared/styles/common.css';


#user-picture {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 10px 0 0 10px;
}

@media only screen and (max-width: 1200px) {
  #user-picture {
    width: 90px;
    height: 90px;
  }
}

@media only screen and (max-width: 800px) {

  #user-picture {
    width: 70px;
    height: 70px;
  }
}
