@if(notification){
  <li
    [ngClass]="classes"
    class="notification-item"
  >
    @switch (notification.type_notification) {
      @case ('affectation') {
        <i class="notification-icon fa-solid fa-book"></i>
      }
      @case ('publication') {
        <i class="notification-icon fa-solid fa-file"></i>
      }
      @case ('soumission_devoir') {
        <i class="notification-icon fa-solid fa-file-import"></i>
      }
      @case ('correction_devoir') {
        <i class="notification-icon fa-solid fa-calendar-check"></i>
      }
      @default {
        <i class="notification-icon fa-solid fa-comment"></i>
      }
    }

    <div class="notification-content">
      @if (emetteur){
        <p>
          <b>{{ emetteur.nom }} {{emetteur.prenom}}</b>
          {{ getMessage }}
          <b>{{ notification.code_matiere }}</b>
        </p>
      }



    </div>
  </li>

}
