.devoir {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 1.5rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  font-family: 'Sora', sans-serif;
}

.devoir-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 1.5rem;

}

.devoir:hover {
  transform: translateY(-3px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.titre {
  font-size: 1.25rem;
  font-weight: 600;
  color: #2B2D42;
  margin-bottom: 0.5rem;
}

.description {
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.8rem;
}

.date-limite {
  font-size: 0.95rem;
  color: #EF233C;
  font-weight: 500;
  margin-bottom: 1rem;
}

.voir-depots, .deposer-devoir {
  background-color: #EF233C;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.voir-depots:hover, .deposer-devoir:hover {
  background-color: #c11f34;
}
.icon{
  color: #999;
  text-align: end;
  font-size: 1.2rem;
}

.interactions{
  width: 100%;
  display: flex;
  justify-content: end;
}

.icon:hover{
  opacity: 0.7;
  cursor: pointer;
}

.prof-part{
  display: flex;
  align-items: center;
  gap: 1rem;
}

.devoir-icon {
  font-size: 2rem;
  color: #ef243d;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: #ffeaea;
  border-radius: 50%;
}

@media only screen
and (max-width : 768px) {
  .devoir-icon {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
  }
}
