<div class="section section-{{ section.id }}" [attr.data-section-id]="section.id">
  <div class="head-section">
    <h3>{{ section.nom }}</h3>

    @if (!isEleve()) {
      <button class="add_post" (click)="openAddPublicationModal()">
        <i class="fa-solid fa-feather"></i>
      </button>
      <button class="add_devoir" (click)="openAddDevoirModal()">
        <i class="fa-solid fa-book"></i>
      </button>
      <button class="delete_section" (click)="openDeleteModal()">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button class="edit_section" (click)="openEditSectionModal()">
        <i class="fa-solid fa-edit"></i>
      </button>    }
  </div>

  @if (sectionPublications.length > 0) {
    <div class="liste_posts">
      @for (pub of sectionPublications; track pub.id) {
        <app-publication
          [publication]="pub"
          [isEpingled]="publicationsEpinglesIds.includes(pub.id)"
          [roles]="roles"
          [utilisateurId]="utilisateurId"
          [isEleve]="isEleve()"
        />
      }
    </div>
  } @else {
    <p>Aucune publication dans cette section.</p>
  }
  @if (sectionDevoirs.length > 0) {
    <div class="liste_devoirs">
      @for (devoir of sectionDevoirs; track devoir.id) {
        <app-devoir [devoir]="devoir" />
      }
    </div>
  }

</div>

@if (isEditSectionModalOpen) {
  <app-edit-section
    [section]="section"
    (close)="closeEditSectionModal()"
    (updated)="onSectionUpdated($event)" />
}

@if (isDeleteSectionModalOpen) {
  <app-delete-section
    [section]="section"
    (confirm)="handleDeleteConfirmed($event)"
    (close)="closeDeleteModal()" />
}

@if (showAddPublicationModal) {
  <app-add-publication
    [section]="section"
    [utilisateur]="utilisateur"
    (close)="closeAddPublicationModal()"
    (submit)="handlePublicationCreated($event)" />
}
