<div class="section section-{{ section._id }}" [attr.data-section-id]="section._id">
  <div class="head-section">
    <h3>{{ section.nom }}</h3>

    @if (authService.isProfesseur()) {

      <button class="edit_section but" (click)="openEditSectionModal()">
      <i class="fa-solid fa-edit"></i>
    </button>

    <button class="delete_section but" (click)="openDeleteModal()">
      <i class="fa-solid fa-trash"></i>
    </button>
    }

  </div>
  @if (authService.isProfesseur()) {
    <div class="button-prof">
      <button class="add_post" (click)="openAddPublicationModal()">
        <i class="fa-solid fa-feather"></i>
      </button>
      <button class="add_devoir" (click)="openAddDevoirModal()">
        <i class="fa-solid fa-book"></i>
      </button>
      <button class="add_forum" (click)="openAddForumModal()">
        <i class="fa-solid fa-comment"></i>
      </button>
    </div>

  }
  <div class="liste_posts">
    @for (forum of listeForums; track forum._id) {
      <app-forum (hasDeleted)="loadForums()" [secId]="section._id" [forum]="forum"></app-forum>
    }
    @for (devoir of listeDevoirs; track devoir._id) {
      <app-devoir (hasDeleted)="loadDevoirs()" [secId]="section._id" [devoir]="devoir"></app-devoir>
    }
  @if (publications && publications.length > 0) {
      @for (pub of publications; track pub._id) {
        @if (authService.isProfesseur() || pub.visible){
          <app-publication
            [codeUe]="codeUe"
            (deletePublication)="openDeletePublicationModal($event)"
            (editPublication)="openEditPublicationModal($event)"
            [publication]="pub"
            [sectionId]="section._id"
          />
        }

      }
  } @else {
    <p>Aucune publication dans cette section.</p>
  }




</div>
</div>


@if (modalVisible) {
  <app-add-devoir
    (close)="onCloseModal()"
    (addDevoir)="onAddDevoir()"
    [secId]=section._id
  ></app-add-devoir>
}

@if (modalForumVisible) {
  <app-add-forum
    (close)="onCloseForumModal()"
    (addForum)="onAddForum()"
    [secId]=section._id
  ></app-add-forum>
}

