
.section h3 {
  font-size: 36px;
}

.head-section {
  display: flex;
  align-items: center;
  margin-top: 2em;
  gap: 1em;
  margin-bottom: 1em;
}

.button-prof{
  display: flex;
  margin-bottom: 20px;
  gap: 15px;
}

.button-prof button {
  background-color: #d6d6d6;
  height: 50px;
  border: 0;
  font-family: "Sora", sans-serif;
  padding: 0.5em 2em;
  border-radius: 8px;
  font-size: 16px;
  display: flex;
  gap: 1em;
  align-items: center;
  cursor: pointer;
}

.button-prof button:hover{
  opacity: 0.7;
}

.section .liste_posts, .section .liste_devoirs {
  margin-left: 3em;
}

