<div class="section section-{{ section._id }}" [attr.data-section-id]="section._id">
  <div class="head-section">
    <h3>{{ section.nom }}</h3>

    @if (authService.isProfesseur()) {
      <button class="add_post" (click)="openAddPublicationModal()">
        <i class="fa-solid fa-feather"></i>
      </button>
      <button class="add_devoir" (click)="openAddDevoirModal()">
        <i class="fa-solid fa-book"></i>
      </button>
      <button class="delete_section" (click)="openDeleteModal()">
        <i class="fa-solid fa-trash"></i>
      </button>
      <button class="edit_section" (click)="openEditSectionModal()">
        <i class="fa-solid fa-edit"></i>
      </button>
    }
  </div>

  @if (publications && publications.length > 0) {
    <div class="liste_posts">
      @for (pub of publications; track pub._id) {
        <app-publication
          [codeUe]="codeUe"
          (deletePublication)="openDeletePublicationModal($event)"
          (editPublication)="openEditPublicationModal($event)"
          [publication]="pub"
        />
      }
    </div>
  } @else {
    <p>Aucune publication dans cette section.</p>
  }

  @for (devoir of listeDevoirs; track devoir._id) {
    <app-devoir [devoir]="devoir"></app-devoir>
  }

  <!-- Si la liste est vide -->
  @if (listeDevoirs.length === 0) {
    <p>Aucun devoir pour le moment.</p>
  }
</div>

@if (modalVisible) {
  <app-add-devoir
    (close)="onCloseModal()"
    (addDevoir)="onAddDevoir($event)"
  ></app-add-devoir>
}


