<div class="mini-popup" id="delete-user-popup">
  <p (click)="closePopup()" class="close-popup">X</p>
  <div class="mini-popup-content">
    <div class="mini-picture-place">
      @if(mode === 'user'){

        <img id="picture-popup" [src]="realImageUser" alt="Photo de l'utilisateur">
      } @else {
        <img id="picture-popup-ue" [src]="realImageUE" alt="Photo de l'utilisateur">
      }
    </div>
    @if(mode === 'user' && user){
      <p>Êtes-vous sûr de vouloir supprimer l'utilisateur <strong id="user-name">{{user.nom}}</strong> ?</p>
    } @else if (mode === 'ue' && ue ) {
      <p>Êtes-vous sûr de vouloir supprimer l'UE <strong id="ue-delete-name">{{ue.code}} - {{ue.nom}}</strong> ?</p>
    }
      <div class="bouton-container">
      <p (click)="closePopup()" class="bouton but-cancel">Annuler</p>
      <p id="confirm-delete" (click)="mode === 'user' ? deleteUser() : deleteUE()" class="bouton but-delete">Supprimer</p>
    </div>
  </div>
</div>
