<div class="post" [ngClass]="publication.type === 'fichier' ? 'file' : publicationClass " [attr.data-id]="publication._id">
  <div class="top_post">
    <h5 class="title_post">{{ publication.contenu }}</h5>
    <span class="date_post">{{ publication.date_publication | date: 'dd/MM/yyyy HH:mm' }}</span>

    @if (authService.isProfesseur()) {
      <div class="interactions_post">
        <button class="edit_post" (click)="openEditModal()">
          <i class="fa-solid fa-pen"></i>
        </button>
        <button class="delete_post" (click)="openDeleteModal()">
          <i class="fa-solid fa-trash"></i>
        </button>
      </div>
    }
  </div>

  @if (publication.type === 'fichier') {
    <div class="download">
      <i class="fa-solid fa-file-pdf"></i>
      <a [href]="'/uploads/' + publication.metadata?.filename" download>
        <span class="nom_fichier">{{ publication.contenu }}</span>
        <i class="fa-solid fa-download"></i>
      </a>
    </div>
  } @else {
    <p class="text_post">{{ publication }}</p>
  }
</div>


