<div class="post {{ publicationClass }}" [attr.data-id]="publication.id">
  <div class="top_post">
    <h5 class="title_post">{{ publication.titre }}</h5>
    <span class="date_post">{{ publication.derniereModif.date | date: 'dd/MM/yyyy HH:mm' }}</span>

    @if (!isEleve) {
      <div class="interactions_post">
        <button class="edit_post" (click)="openEditModal()">
          <i class="fa-solid fa-pen"></i>
        </button>
        <button class="delete_post" (click)="openDeleteModal()">
          <i class="fa-solid fa-trash"></i>
        </button>

        @if (!isEpingled) {
          <button class="epingle_post"><i class="fa-solid fa-thumbtack"></i></button>
        }
      </div>
    }
  </div>

  @if (publication.typePublicationId?.id === 2) {
    <div class="download">
      <i class="fa-solid fa-file-pdf"></i>
      <a [href]="'/uploads/' + publication.contenuFichier" download>
        <span class="nom_fichier">{{ publication.contenuFichier }}</span>
        <i class="fa-solid fa-download"></i>
      </a>
    </div>
  } @else {
    <p class="text_post">{{ publication.contenuTexte }}</p>
  }
</div>

@if (showEditModal) {
  <app-edit-publication
    [publication]="publication"
    (close)="closeEditModal()"
    (update)="updatePublication($event)"
  />
}

@if (showDeleteModal) {
  <app-delete-publication
    [publicationTitre]="publication.titre"
    (confirm)="confirmDelete()"
    (cancel)="closeDeleteModal()"
  />
}
