<div class="modal-backdrop" (click)="onCancel()"></div>
<div class="modal-content" (click)="$event.stopPropagation()">
  <h2>Modifier la publication <strong>{{publication.nom}}</strong></h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="titre">Titre</label>
    <input type="text" id="titre" formControlName="nom" name="titre" required />

    @if (publication.type !== 'fichier'){
      <label for="contenu">Contenu</label>
      <textarea id="contenu" formControlName="contenu" name="contenuTexte" required></textarea>

    }

    @if (publication.type === 'annonce') {
    <label for="type">Type</label>
      <select id="type" formControlName="importance" name="type">
        <option value="faible">Faible</option>
        <option value="moyen">Moyenne</option>
        <option value="important">Importance</option>
      </select>
    }

    @if (publication.type === 'fichier') {
      <label for="fichier">Fichier</label>
      <app-drop-zone mode="fichier" [optionnalFile]="fichierPublication" (fileSelected)="onFileSelected($event)"></app-drop-zone>
    }

    <div class="checkbox-wrapper">
      <input type="checkbox" id="visible" formControlName="visible" name="visible" />
      <label for="visible">Visible</label>
    </div>

    <div class="modal-actions">
      <button type="submit">Enregistrer</button>
      <button type="button" (click)="onCancel()">Annuler</button>
    </div>
  </form>
</div>
