<div   class="card-box">
<div class="card-left">
  <img id="ue-picture" [src]="image_realUrl" alt="Photo de profil admin">
  <div class="card-content">
    <h4>{{ue.code}} - {{ue.nom}}</h4>
    @if(responsable){
      <h4 class="card-text" id="ue-roles-section">Responsable : {{responsable.prenom}} {{responsable.nom}}</h4>
    }
  </div>
</div>
<div class="card-action">
  <i  (click)="openEditModal()" class="fa-solid fa-pen edit-icon edit"></i>
  <i (click)="openDeleteModal()" class="fa-solid fa-trash edit-icon delete"></i>
</div>

</div>
