<div class="modal-backdrop">
  <div class="modal-content">
    <h2>Ajouter un devoir</h2>

    <form [formGroup]="form"  (ngSubmit)="valider()">
      <label for="titre">Titre</label>
      <input type="text" id="titre" name="titre" formControlName="titre" required />

      <label for="description">Description</label>
      <textarea id="description" name="description" formControlName="description" required></textarea>

      <label for="date_limite">Date limite</label>
      <input id="date_limite" type="datetime-local" name="date_limite" formControlName="date_limite" required />

      <label for="taille">Taille max (Mo)</label>
      <input id="taille" type="number" name="taille" formControlName="taille_fichier" required />

      <label for="type">Type de fichier</label>
      <select id="type" name="type" formControlName="type_fichier" required>
        <option value="pdf">PDF</option>
        <option value="zip">ZIP</option>
      </select>

      <div class="modal-actions">
        <button type="submit">Ajouter</button>
        <button type="button" (click)="fermer()">Annuler</button>
      </div>
    </form>
  </div>
</div>
