@if (sujet && sujet.auteur_id) {
<div class="sujet-details">
  <h2>{{ sujet.titre }}</h2>
  <p class="meta">Par utilisateur {{ utilisateurNoms[sujet.auteur_id] || '...' }} - {{ sujet.date_creation | date: 'dd/MM/yyyy HH:mm' }}</p>

  <div class="messages">
    <h3>Messages</h3>

    @if (listeMessages) {
      @for (message of listeMessages; track message._id) {
        <div class="message">
          <span style="display: flex; gap: 5px; align-items: center">
            @if (message.auteur_id === userId || authService.isProfesseur()) {
              @if (message.auteur_id ) {
                <i (click)="deleteMessage(message._id)" class="fa fa-trash"></i>
              }
            }
            <p><strong>{{ utilisateurNoms[message.auteur_id] || '...' }} :</strong> {{ message.contenu }}</p></span>
          <small>{{ message.date_message | date:'dd/MM/yyyy HH:mm' }}</small>
        </div>
      }
    } @else {
      <p>Aucun message pour ce sujet.</p>
    }
  </div>

  <button (click)="ajouterMessage()" class="btn-ajouter">
    {{ afficherFormulaireMessage ? 'Annuler' : 'Répondre' }}
  </button>
  @if (afficherFormulaireMessage){

    <form class="formulaire-message" [formGroup]="formulaireMessage" (ngSubmit)="envoyerMessage()" >
      <textarea formControlName="contenu" placeholder="Écrivez votre message ici..." rows="4" cols="50"></textarea>
      <br />
      <button type="submit" class="btn-envoyer">Envoyer</button>
    </form>
  }

</div>
}
