/*Publications épinglées*/

.epingles {
  margin-bottom: 5em;
}

.epingles h3 {
  margin-top: 2em;
  font-size: 36px;
  margin-bottom: 0.5em;
}

.desepingle_post i{
  fill: black;
}

.epingle_post i{
  fill: transparent;
}

.publications-epingles {
  background-color: #ffe7ea;
  padding: 2em;
  border-radius: 8px;
}

.auteur {
  margin-left: 1em;
  font-weight: bold;
  font-style: italic;
}
