<div (click)="backToProf()" class="back">
  <i class="fa-solid fa-chevron-left"></i>
  <p>Revenir au cours</p>
</div>

<div class="devoirs-details">
  @if (devoirs) {
    <h2>{{ devoirs.titre }}</h2>
    <p>{{ devoirs.description }}</p>
    <p><strong>Date limite :</strong> {{ devoirs.date_limite | date:'dd/MM/yyyy HH:mm' }}</p>
    <p><strong>Instructions :</strong> Max <strong>{{ devoirs.instructions.taille_fichier }} Mo</strong>,
      type : <strong>{{ devoirs.instructions.type_fichier }}</strong></p>

    <h3>Soumissions des élèves</h3>

    @if (devoirs.soumissions) {
      <ul class="soumissions">
        @for (soumission of devoirs.soumissions; track soumission._id) {
          <li>
            <p><strong>Étudiant ID : </strong> {{ soumission.etudiant_id }}</p>
            <p><strong>Date : </strong> {{ soumission.date_soumission | date:'dd/MM/yyyy HH:mm' }}</p>
            <p ><strong>Statut : </strong> <span [ngStyle]="{
      color: soumission.statut === 'corrige' ? 'green' :
             soumission.statut === 'en retard' ? 'red' :
             'yellow'}">{{ soumission.statut }}</span></p>
            <p><strong>Note :</strong> {{ soumission.note ? soumission.note : 'Pas encore corrigé' }}</p>
            <p><strong>Commentaire :</strong> {{ soumission.commentaire_prof ? soumission.commentaire_prof : 'Aucun' }}</p>
            <span class="file"><p><strong>Fichier :</strong> {{ soumission.fichiers.nom_original }}</p><i (click)="openFile(soumission.fichiers.nom_original)" class="fa-solid fa-download"></i></span>
            <button class="btn-modifier" (click)="onModifierSoumission(soumission)">
              Noter
            </button>
            <hr />

          </li>
        }
      </ul>
    } @else {
      <p>Aucune soumission pour ce devoirs.</p>
    }
  }

</div>

@if (shouldShowEditModal && soumissionEnCours) {
  <app-edit-soumission
    [soumission]="soumissionEnCours"
    (close)="onFermerModal()"
    (modifier)="onValiderSoumission()"
  />
}
